@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #BF4646;
  --color-secondary: #7EACB5;
  --color-sand: #EDDCC6;
  --color-cream: #FFF4EA;
  --color-dark: #2D2424;

  --shadow-game: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  --shadow-game-hover: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

body {
  @apply bg-cream text-dark font-sans antialiased;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-sand;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}